body {
    background-color: rgb(128, 174, 128);
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    color: rgb(5, 51, 5);
}

h1 {
    color: rgb(202, 225, 202);
font-style: italic;
text-decoration: underline;
text-align: center;
}

ol {
    color: rgb(255, 255, 255);
    font-size: large;
    border: 1px solid white;
    border-radius: 10px;
}
ul 
    {
        color: rgb(255, 255, 255);
        font-size: large;
        border: 1px solid white;
        border-radius: 10px;
    }

    h2 {
        color: rgb(95, 95, 237);
    }